@use "../../../styles/App.scss" as *;

.header {
  position: relative;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  row-gap: 8.5rem;

  margin-top: 40px;
  margin-bottom: 90px;
  @include padding-lr;
  padding-right: 6.25vw;
  padding-bottom: 100px;

  text-align: left;

  @include tablet {
    margin-bottom: 150px;
    padding-right: 9.6vw;
    padding: 0;
  }

  &__image {
    position: relative;
    width: 45.6vw;
    height: 32.4vw;
    background-image: url("./images/illustration-hero.svg");
    background-size: contain;
    background-repeat: no-repeat;

    @include tablet {
      width: 100%;
      height: 62vw;
      background-size: cover;
    }
  }

  &__main {
    padding-top: 72px;
    width: 470px;
    @include mobile {
      text-align: center;
    }
    .title {
      margin-top: 0;
      font-size: 2.25rem;
      font-weight: 500;
      color: $secondary-txt;
    }

    @include tablet {
      width: 75%;
      padding-top: 0;
      .title {
        font-size: 1.75rem;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;

    margin-top: 2.25rem;
    padding: 0;

    background-color: transparent;

    @include tablet {
      justify-content: center;
    }

    @include tablet {
      margin-top: 2rem;
    }
  }

  .btn {
    padding: calc(1rem - 2px) calc(1.5rem - 2px);
    border: none;
    border-radius: 8px;
    border: 2px $btn-bg-primary solid;

    box-shadow: 1px 3px 5px rgb(146, 146, 146);

    font-size: 13px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    transition: all 300ms;

    &:hover {
      cursor: pointer;
    }
    @include mobile {
      font-size: 1rem;
    }
    &--blue {
      color: #fff;
      background-color: $btn-bg-primary;
      padding: calc(1rem - 2px) calc(1.5rem - 2px);
      border-color: $btn-bg-primary;

      &:hover {
        background-color: #fff;
        color: $btn-bg-primary;
      }
    }
    &--white {
      color: $secondary-txt;
      background-color: rgb(247, 247, 247);
      border-color: rgb(247, 247, 247);
      &:hover {
        border-color: $secondary-txt;
        background-color: #fff;
      }
    }
    &:active {
      transform: translate(1px, 3px);
      box-shadow: 0px 0 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 515px;
    height: 350px;
    background-color: $btn-bg-primary;
    right: 0;
    bottom: 0;
    border-radius: 45% 0 0 45%;
    z-index: -1;
  }

  @include tablet {
    flex-direction: column;
    align-items: center;

    &::after {
      content: "";
      position: absolute;
      width: 515px;
      height: 350px;
      background-color: $btn-bg-primary;
      right: 0;
      top: 0;
      border-radius: 45% 0 0 45%;
      z-index: -1;
    }
  }

  @include tablet {
    flex-direction: column;
    align-items: center;

    &::after {
      content: "";
      position: absolute;
      width: 300px;
      height: 200px;
      background-color: $btn-bg-primary;
      right: 0;
      top: 4.5rem;
      border-radius: 45% 0 0 45%;
      z-index: -1;
    }
  }
}
