@use "../../../styles/App.scss" as *;

.footer {
  background-color: $btn-bg-primary;
  padding-top: 4.5rem;

  &__header {
    text-align: center;
    color: #fff;
    padding: 0 35vw;
    @include tablet {
      padding: 0;
      @include padding-lr();
    }
    .subtitle {
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
    }

    .title {
      margin-top: 3rem;
      margin-bottom: 2.25rem;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  &__main {
    margin-bottom: 4.5rem;
    padding: 0 35vw;
    text-align: center;
    @include tablet() {
      padding: 0;
      @include padding-lr();
    }

    .form {
      position: relative;
      display: flex;
      justify-content: space-between;

      @include desktop-sm() {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }
    }

    .input-wrapper {
      position: relative;
      width: 68%;
      @include desktop-sm() {
        width: 100%;
        margin-bottom: 2.5rem;
      }
      @include mobile() {
        width: 100%;
      }

      .error-icon {
        position: absolute;
        width: 16px;
        height: 16px;
        right: 1rem;
        top: 50%;
        transform: translateY(-60%);
        visibility: hidden;
      }

      &.error {
        position: relative;

        .input {
          border: $btn-bg-secondary 2px solid;
        }

        &:active {
          border-color: $btn-bg-secondary;
        }

        & > .error-message {
          position: absolute;
          display: block;
          width: 100%;
          padding: 9px 2px;
          bottom: -2rem;
          left: 0;

          border-radius: 0 0 8px 8px;
          font-size: 13px;
          color: #fff;
          background-color: $btn-bg-secondary;
        }

        &::before {
          height: 13px;
          width: 13px;
          background-image: url("./images/icon-error.svg");
          object-fit: contain;
          z-index: 99;
        }

        & > .error-icon {
          visibility: visible;
        }
      }
    }

    .input {
      padding: 19px 1rem;
      width: calc(100% - 2 * 1rem);
      border-radius: 8px;
      border: none;
      z-index: 10;
    }

    .error-message {
      display: none;
    }

    .btn {
      background-color: $btn-bg-secondary;
      padding: calc(19px - 2px) calc(2rem - 2px);
      color: #fff;
      border-radius: 8px;
      border: 2px $btn-bg-secondary solid;
      transition: all 300ms;

      @include mobile() {
        width: 100%;
      }

      &:hover {
        cursor: pointer;
        background-color: #fff;
        color: $btn-bg-secondary;
      }
    }
  }
  &__footer {
    padding: 2rem 10.625rem;
    @include padding-lr;
    background-color: $secondary-txt;

    .footer-nav {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @include tablet() {
        flex-direction: column;
        align-items: center;
      }
      .logo-wrapper {
        position: relative;
        height: 24px;
        width: 150px;
        .logo {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
        }
      }
      .navigation {
        display: flex;
        justify-content: flex-start;
        gap: 2.75rem;
        padding: 0;
        margin-left: 3.5rem;
        list-style-type: none;
        @include tablet() {
          flex-direction: column;
          align-items: center;
          margin-left: 0;
          margin-top: 40px;
        }
        &__item {
          &__link {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 13px;
            transition: all 300ms;

            &:hover {
              color: $btn-bg-secondary;
            }
          }
        }

        &--sns {
          margin-left: auto;
          display: flex;
          flex-direction: row;

          @include tablet {
            text-align: center;
            margin-left: 0;
          }

          .sns-icon {
            position: relative;
            height: 13px;
            width: 13px;
            .icon {
              position: relative;
              height: 100%;
              width: 100%;
              top: 0;
              left: 0;
              fill: #fff;
            }
            &:hover {
              .icon {
                fill: $btn-bg-secondary;
              }
            }
          }
        }
      }
    }
  }
}
